{% extends "base-logged.html" %}
{% block title %}Change Email{% endblock %}

{% block content %}
    <h1>Change E-mail</h1>

    <form method="POST" style="margin-top: 30px;">

        <label for="email">Enter your new e-mail</label>
        <input name="email" id="email" type="email" class="form-control" placeholder="your@email.com" required>
           
        <button type="submit" value="submit" class="btn btn-primary btn-lg btn-block" style="margin-top: 40px;">Confirm</button>
    </form>

{% endblock %}