{% extends "base-logged.html" %}
{% block title %}Banco de Dados{% endblock %}

{% block content %}
    <table class="table">
        <thead class="thead-light">
            <tr>
            <th scope="col">Name</th>
            <th scope="col">E-mail</th>
            <th scope="col">Password</th>
            </tr>
        </thead>
    
        <tbody>
        {% for item in values %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.password }}</td>
            </tr>
        {% endfor %}
        </tbody>    
    </table>
{% endblock %}