{% extends "base.html" %}
{% block title %}{% endblock %}

{% block navbar %}
<ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href=" {{ url_for("user") }}">My Account</a>
        <a class="dropdown-item" href=" {{ url_for("signout") }} ">Logout</a>
      </div>
    </li>
</ul>
{% endblock %}

{% block content %}

{% endblock %}