{% extends "base-logged.html" %}
{% block title %}Change Email{% endblock %}

{% block content %}

    <h1>Change E-mail</h1>

    <form method="POST" style="margin-top: 30px;" novalidate>

        {{ form.hidden_tag() }}

        <p>
            <h3>{{  form.email.label  }}</h3>
            {{ form.email(class_="form-control", placeholder="email@example.com") }}

            {% for error in form.email.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>

        <p style="margin-top: 30px;">{{ form.submit(class_="btn-block btn-primary btn-lg") }}</p>

    </form>

{% endblock %}