{% extends "base-logged.html" %}
{% block title %}User Page{% endblock %}

{% block content %}
    <h1 style="margin-bottom: 30px;">{{ session["fullname"] }}</h1>

    <h5>E-mail: {{ session["email"] }}</h5>
    <a href="{{ url_for("changeEmail") }}">Change E-mail</a>

    <h5 style="margin-top: 15px;">Password: ************</h5>
    <a href="{{ url_for("changePassword") }}">Change Password</a>

    <br>

    <a href="{{ url_for("confirmAdmin") }}" style="position:absolute;
    bottom:0;
    height:60px;">Are you an administrator?</a>
{% endblock %}