{% extends "base-logged.html" %}
{% block title %}User Page{% endblock %}

{% block content %}
    <h1 style="margin-bottom: 30px;">Hello, {{ current_user.username }}!</h1>

    <h5>E-mail: {{ current_user.email }}</h5>
    <a href="{{ url_for('changeEmail') }}">Change E-mail</a>

    <h5 style="margin-top: 15px;">Password: ************</h5>
    <a href="{{ url_for('changePassword') }}">Change Password</a>

    <br>

    <a href="
    {% if current_user.admin == True: %}
        {{ url_for('dbView') }}
    {% else: %}
        {{ url_for('confirmAdmin') }}
    {% endif %}
    " style="position:absolute; bottom:0; height:60px;">Administrator's Page</a>
{% endblock %}