{% extends "base-logged.html" %}
{% block title %}Database{% endblock %}

{% block content %}
    <table class="table">
        <thead class="thead-light">
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Username</th>
            <th scope="col">E-mail</th>
            </tr>
        </thead>
    
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
            </tr>
        {% endfor %}
        </tbody>    
    </table>
{% endblock %}